{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Upload Document</h3>
                        <hr>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="encrypted_file">PDF File:</label>
                                <input type="file" class="form-control" id="encrypted_file" name="encrypted_file" required>
                            </div>
                            <div class="form-group">
                                <label for="teacher">Choose Teacher:</label>
                                <select class="form-control" id="teacher" name="teacher">
                                    <option value="" selected>Select Teacher</option>
                                    {% for teacher in teachers %}
                                        <option value="{{ teacher.id }}">{{ teacher.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                        <br>
                        <h2>Uploaded Documents</h2>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>PDF File</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    <tr>
                                        <td>{{ document.title }}</td>
                                        <td>{{ document.encrypted_file }}</td>
                                        <td><a href="{% url 'download_decrypted_document' document.id %}">Download</a>
                                            <form action="{% url 'delete_document' document.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}