{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Uploaded Documents</h3>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Title</th>
                                    <th>PDF File</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents_received %}
                                    <tr>
                                        <td>{{ document.owner.username }}</td>
                                        <td>{{ document.title }}</td>
                                        <td>{{ document.encrypted_file }}</td>
                                        <td><a href="{% url 'download_decrypted_document' document.id %}">Download</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}